In [1]:
import requests

In [2]:
url = 'http://api.open-notify.org/astros.json'

data = requests.get(url)

In [3]:
data.status_code

200

In [4]:
data_json = data.json()

data_json

{'message': 'success',
 'people': [{'name': 'Sergey Prokopyev', 'craft': 'ISS'},
  {'name': 'Dmitry Petelin', 'craft': 'ISS'},
  {'name': 'Frank Rubio', 'craft': 'ISS'},
  {'name': 'Nicole Mann', 'craft': 'ISS'},
  {'name': 'Josh Cassada', 'craft': 'ISS'},
  {'name': 'Koichi Wakata', 'craft': 'ISS'},
  {'name': 'Anna Kikina', 'craft': 'ISS'},
  {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'},
  {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'},
  {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}],
 'number': 10}

In [5]:
print(data_json['people'])

[{'name': 'Sergey Prokopyev', 'craft': 'ISS'}, {'name': 'Dmitry Petelin', 'craft': 'ISS'}, {'name': 'Frank Rubio', 'craft': 'ISS'}, {'name': 'Nicole Mann', 'craft': 'ISS'}, {'name': 'Josh Cassada', 'craft': 'ISS'}, {'name': 'Koichi Wakata', 'craft': 'ISS'}, {'name': 'Anna Kikina', 'craft': 'ISS'}, {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'}, {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'}, {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}]

In [6]:
import pandas as pd


data = pd.read_json('http://api.open-notify.org/astros.json')


print(data)

   message                                             people  number
0  success       {'name': 'Sergey Prokopyev', 'craft': 'ISS'}      10
1  success         {'name': 'Dmitry Petelin', 'craft': 'ISS'}      10
2  success            {'name': 'Frank Rubio', 'craft': 'ISS'}      10
3  success            {'name': 'Nicole Mann', 'craft': 'ISS'}      10
4  success           {'name': 'Josh Cassada', 'craft': 'ISS'}      10
5  success          {'name': 'Koichi Wakata', 'craft': 'ISS'}      10
6  success            {'name': 'Anna Kikina', 'craft': 'ISS'}      10
7  success    {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'}      10
8  success  {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'}      10
9  success       {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}      10

In [7]:
data

   message                                             people  number
0  success       {'name': 'Sergey Prokopyev', 'craft': 'ISS'}      10
1  success         {'name': 'Dmitry Petelin', 'craft': 'ISS'}      10
2  success            {'name': 'Frank Rubio', 'craft': 'ISS'}      10
3  success            {'name': 'Nicole Mann', 'craft': 'ISS'}      10
4  success           {'name': 'Josh Cassada', 'craft': 'ISS'}      10
5  success          {'name': 'Koichi Wakata', 'craft': 'ISS'}      10
6  success            {'name': 'Anna Kikina', 'craft': 'ISS'}      10
7  success    {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'}      10
8  success  {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'}      10
9  success       {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}      10